@page
@model GameServer.Pages.IndexModel
@{
    ViewData["Title"] = "Display";
}
<div class="text-center">
    <h2>Chat Room</h2>
    <img src="@Model.QrCodeImage" alt="QR Code" />
    <ul id="messagesList" class="list-unstyled mt-3"></ul>
</div>
@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>const roomId = "@Model.RoomId";</script>
    <script src="~/js/display.js"></script>
}
